html{
    font-size: 62.5%;
    font-family: 'ubuntu';
}

body{
    margin: 0;
}

main{
    max-width: 100vh;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}


h1{
    color: green;
    margin: 3.5rem 0 0 0;
}

.select-options, .all-input{
    width: 25rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    align-self: center;
    text-align: center;
    border: rgb(113, 113, 113) 1px solid;
    border-radius: 0.5rem;
    margin: 1rem;
}

.valor-input{
    width: 24rem;
    margin: 0.8rem 0 0;
}



.container-comprimento {
    text-align: center
}

.button-convert{
    background-color: green;
    font-size: 1.8rem;
    margin: 1rem 1rem 1rem 0;
    width: 20rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    color: white;
    align-self: center;
}

.reset{
    background-color: rgb(231, 0, 0);
    margin: 0;
    font-size: 1.8rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    color: white;
    align-self: center;
}

.reset:hover{
    background-color: rgb(255, 0, 0);
}

.button-convert:hover{
    background-color: rgb(2, 168, 2);
}

.btn-icons{
    display: flex;
    justify-content: center;
}

.icon{
    width: 9rem;
}

.t-result{
    margin-top: 1rem;
    font-weight: bold;
}

.result {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.visible {
    display: none;
}